@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: rgb(255, 255, 255);
}

html,body{
    height: 100%;
}

body{
    background-color: #2B2A33;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
}

.logo{
    width: 50%;
    height: 90px;
}

.logo img{  
    height: 100%;
    width: 140px;
}

nav{
    width: 50%;
    height: 90px;
    text-align: right;
    padding: 10px 5px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px;
    padding-top: 10px;
}

nav a{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    transition: 0.2s;
}

nav a:hover{
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.down-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.down-sec img{
    width: 270px;
}

.txt-down{
    text-align: center;
}

.txt-down p {
    color: rgb(179, 179, 179);
    max-width: 400px;
}

.txt-down h3{
    color: red;
}

.txt-down button{
    margin: 15px 0;
    height: 38px;
    border-radius: 20px;
    width: 150px;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}

.txt-down button:hover{
    background-color: white;
    color: black;
}

.ips{
    margin: 8px;
    padding: 5px;
}






















@media screen and (max-width:768px){
    header{
        display: block;
    }

    .logo{
        width: 100%;
        margin: 0 auto;
        display: none;
        align-items: center;
        justify-content: center;
    }

    nav{
        width: 100%;
        text-align: center;
        padding-right: 5px;
        padding: 10px;
    }

    nav ul{
        border-bottom: 2px solid white;
    }
    
    nav ul li{
        margin: 6px;
        padding-bottom: 6px;
    }  
}